body {
  background-image:url('bananas.jpg');
  background-size: 50%;
  background-repeat: repeat;
  font-family: Georgia, "Times New Roman", Times, serif;
  display: flex;
  justify-content: center
}

#root {
  width: 100%;
}

.App {
  background-color: lightpink;
  width: 80%;
  padding: 20px;
  border-radius: 15px;
  margin: 20px auto 0;
}

h1, p, form {
  color: #fd2041;
  text-align: center;
}

form {
  width: 80%;
  margin: 0 auto;
}

input[type="text"] {
  width: 80%;
  outline: none;
  padding: 6px;
  border: 1.5px solid whitesmoke;
}

input[type="text"]:focus {
  border: 1px solid #fd2041;
}

ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

li {
  margin: 12px 0;
}

li span {
  margin: 0 12px;
}

li input[type="text"] {
  width: auto;
}

button {
  border: none;
  background-color: lightpink;
}

button:focus {
  outline: none;
}

.delete {
  color: #fd2041;
}

.done {
  text-decoration: line-through;
}

@media only screen and (min-width: 800px) {
  #root {
    width: 50%;
  }

  .App {
    width: 100%;
  }
}