* {
  box-sizing: border-box;
}

body {
  background-color: rgba($color: #000, $alpha: .8)
}

.hide {
  display: none;
}

.error {
  border: 1px solid #E50914;
  box-shadow: 1px 1px 1px #E50914;
}

#error-types, #error-search {
  color: red;
  text-align: center;
  font-size: 15px;
  margin: 0;
  font-weight: normal;
}

#error-search {
  margin-top: 15px;
}

h2 {
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 700;
  color: white;
  text-align: center;
}

form {
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 700;
  color: white;
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
  padding: 0 6px;
  .title-info-container {
    margin: 15px auto;
    width: 100%;
    .title-labels {
      display: inline-block;
      width: 70px;
    }
  }
  input[type=text] {
    outline: none; 
    width: calc(100% - 106px);
  }
  #titulo {
    width: calc(100% - 76px);
  }
  button, input[type=submit] {
    background-color: #E50914;
    outline: none;
    border: none;
    padding: 3px 9px;
    color: white;
    font-weight: 700;
    &:hover {
      cursor: pointer;
    }
  }
  input[type=submit] {
    width: 100%;
  }
}

#cast-list {
  padding-left: 92px;
}

.search {
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 700;
  color: white;
  text-align: center;
  margin-top: 60px;
  #form-search {
    #search-title {
      margin: 0 auto 15px;
    }
  }
  p {
    margin: 12px auto;
  }
  ul {
    padding: 0;
  }
}

@media only screen and (min-width: 1025px) {
  form {
    width: 36vw;
    margin: 0 auto
  }
}

@media only screen and (min-width: 500px) and (max-width: 1024px) {
  form {
    width: 70%;
  }
}